<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://depictapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>depictapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>depictApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$depictApi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AuthContext" Order="1" Enabled="False">
          <Destination Path="Data Source=n5d8dy7lh7.database.windows.net;Initial Catalog=LoginAuth;Persist Security Info=True;User ID=staleyr@n5d8dy7lh7;Password=LiveStrong12*" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Login.API.AuthContext, Login.API" MigrationConfiguration="Login.API.Migrations.Configuration, Login.API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthContext-Web.config Connection String">
      <ParameterValue>Data Source=n5d8dy7lh7.database.windows.net;Initial Catalog=LoginAuth;Persist Security Info=True;User ID=staleyr@n5d8dy7lh7;Password=LiveStrong12*</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>